@import url("https://discordstyles.github.io/HorizontalServerList/base.css");
@import url("https://discordstyles.github.io/RadialStatus/base.css");
@import url("https://raw.githack.com/LuckFire/BetterChannelIndicators/main/src/source.css");
:root {
/*Horizontal Server list*/
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
/*Radial status*/
  --rs-small-spacing: 2px;  /* spacing between avatar and status */
  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 20%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
/*Channels Indicators*/
  --unread-badge: rgba(255, 255, 255, 0.6);
  --unread-bg: rgba(255, 255, 255, 0.01);
  --selected-badge: rgb(112, 135, 215);
  --selected-bg: rgba(112, 135, 215, 0.1);
  --selected-bg-hover: rgba(112, 135, 215, 0.18);
  --hovered-bg: rgba(79, 84, 92, 0.25);
  --bg-rounding: 0 50px 50px 0;
  --border-info: 2px solid;
/*Theme*/
  --dark-color: #202225;
}

.container-1r6BKw.themed-ANHk51 {
	background: var(--dark-color) !important; 
}
 
.username-1A8OIy {
	text-shadow: 0px 0.9px #141414;
}

.name-1jkAdW, .tierTooltipTitle-3AtaZT {
	text-align: center;
	text-shadow: 0px 0.9px #141414;
}

.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
	background: var(--dark-color);
	height: 65px;
}

.clickable-25tGDB {
	background-color: var(--dark-color);
}

.protip-YaFfgO {
	display: none;
}

.avatarWrapperNormal-3wFMbf {
	position: relative;
    right: 70px;
}


.avatar-1BDn8e.clickable-1bVtEA { 
    filter: drop-shadow(0 0 3px);
    color: var(--dark-color);
}
.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
    filter: drop-shadow(0 0 8px);
    color: var(--dark-color);
    transform: rotate(360deg);
    transition: width .5s ease, height .5s ease, transform .5s ease;
}


.root-SR8cQa .header-QKLPzZ + div[class] .tabBarContainer-1s1u-z .tabBar-2MuP6- .item-PXvHYJ{
    width: auto;
}

/*hover == false*/
[class^="toolbar-"]{
    max-width: 40px;
    transition: max-width 1.5s;
    -webkit-transition: max-width 1.5s;
    -moz-transition: max-width 1.5s;
    -o-transition: max-width 1.5s;
    height: 100%;
}
[class^="toolbar-"]::before{
    content: "︙";
    font-size: 24px;
    margin: 0 8px;
}
/*hover == true*/
[class^="toolbar-"]:hover{
    max-width: 100vw;
}
[class^="toolbar-"]:hover::before{
    content: "<";
    font-size: 24px;
    margin: 0 8px;
}
