.scrollableContainer-2NUZem { 
    background-color: rgb(33, 36, 33) !important;
}
.peopleList-3c4jOR,
.container-1r6BKw.themed-ANHk51, .searchBar-3dMhjb, .input-2A_zIr:focus {
    background-color: var(--SleekUI-primary); 
}

.autocompleteInner-zh20B_ {
    background-color: var(--SleekUI-primary);
}
.theme-dark .selected-1Tbx07 {
    background-color: var(--SleekUI-secondary);
}

.friendsEmpty-1K9B4k {
    background-color: var(--SleekUI-secondary);;
}
