.message-2qnXI6[data-author-id="374220001743208459"] .username-1A8OIy:before, .nameTag-3uD-yy .title-eS5yk3 {
    content: "#SleekUI"; 
    margin-right: 5px;
    border: 5px;
  }

  .message-2qnXI6[data-author-id="431099008241500171"] .username-1A8OIy:before, .nameTag-3uD-yy .title-eS5yk3 {
    content: "Spasiony"; 
    margin-right: 5px;
    border: 5px;
  }

